<div class="user-content">
    <h1 class="page-title" >My Todos</h1>
    <div class="user-create" >
      <form #todo="ngForm" (ngSubmit)="addUser(user.value); " novalidate>
        <input type="text" id="title" class="form-control" placeholder="Please add a customer here...." 
               required
               name="Name" [(ngModel)]="newUser.name"
               #title="ngModel">
            <div *ngIf="name.errors && name.dirty"
               class="alert alert-danger">
            <div [hidden]="!name.errors.required">
              Name is required.
            </div>
          </div>
        <button type="submit">Add</button>
      </form>
    </div>
    
    
</div> 