<div class="Add-Customer">
    <h1 class="page-title" >My Customers</h1>
    <div class="user-create" >
      <form #todo="ngForm" (ngSubmit)="addUser(todo.value); " novalidate>
        <input type="text" id="title" class="form-control" placeholder="Add a Customer and Press Enter" 
               required
               name="title" [(ngModel)]="newUser.name"
               #title="ngModel">
               <input type="text" id="title" class="form-control" placeholder="Add Customers Address and Press Enter" 
               required
               name="title" [(ngModel)]="newUser.address"
               #title="ngModel">
            <div *ngIf="title.errors && title.dirty"
               class="alert alert-danger">
            <div [hidden]="!title.errors.required">
              Title is required.
            </div>
          </div>
        <button type="submit">Add</button>
      </form>
    </div>